body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    gap: 60px; /*Espaço (cima e baixo, ↑↓)*/
    justify-items: center; /*itens ao centro*/
    margin-top: 60px; /*margin para cima*/
}

img {
    display: block;
    max-width: 100%; /*a imagem pegar 100% do bloco e não da tela*/
}

a {
    text-decoration: none; /*tirar underline*/
}

p,
h1,
h2,
h3 {
    margin: 0px;
}

p {
    font-size: 20px; /*tamanho da fonte*/
    line-height: 1.3;
}

.menu {
    display: flex;
    flex-wrap: wrap;/*para quebrar o item ao diminuir a tela*/
    gap: 20px;/*Espaço (cima e baixo, ↑↓)*/
    justify-content: center;/*centralizar*/
}

.menu a {
    background: #fff;
    padding: 15px 30px; /*↑ → ↓ ← segue a sequência de aumento de tamanho*/
    border-radius: 4px; /*borda*/
    color: black;
    text-transform: uppercase; /*texto em maiusculo*/
}

.conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
}

.introduçao {
    background: #fff;
    padding: 40px;/*↑ → ↓ ← segue a sequência de aumento de tamanho*/
    text-align: right; /*alinhando texto a direita*/
    position: relative; /*referente ao detalhe*/
    display: grid;
    gap: 20px;/*Espaço (cima e baixo, ↑↓)*/
    align-content: center; /*centralizar*/
    justify-items: end;
}

.detalhe {
    width: 60px;
    height: 4px;
    background: #e21;
    display: inline-block;
    position: absolute; /*sobresai o bloco*/
    top: 30px;
    right: -30px; /*para ficar no meio da 'intro.' e 'img'*/
}

.botao {
    background: #e21;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
}

.subtitulo {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
}

.vantagens {
    background: #fff;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p {
    grid-column: 2; /*O "p" ficara alinhado a segunda coluna.*/
}

.rodape {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}